# Ignore sensitive files
.env

# Ignore WordPress core files
wordpress/

# Ignore wordpress folders
content/wp-content/mu-plugins/
content/wp-content/plugins/
content/wp-content/themes/
content/wp-uploads/

# Ignore Composer dependencies
content/vendor/
composer.lock

# Ignore other unnecessary files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
desktop.ini
